@charset "utf-8";

/* --------------------- */
* {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f5f5f5;
}

div {
  display: block;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
label {
  cursor: default;
}

i {
  font-style: italic;
  margin-left: 2px;
}

body.wishket-member-signin .gaia {
  height: 100%;
  min-height: 100%;
}

body.wishket-member .gaia {
  background-color: #fff;
}

.gaia {
  min-width: 1080px;
}

.gaia:after {
  content: ' ';
  display: block;
  clear: both;
}

body.wishket-member-signin .wishket-member-signin-wrapper {
  display: flex;
  height: 100%;
}

body.wishket-member-signin .logo-section {
  width: 43%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  background-color: #fafafa;
}

body.wishket-member-signin .logo-section .logo-section-wrapper {
  position: absolute;
  left: 25%;
  top: 45%;
  transform: translate(-50%, -50%);
}

body.wishket-member-signin .title-header {
  color: #212121;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.mb6 {
  margin-bottom: 6px;
}

.text600 {
  color: #616161;
}

.body-2 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.mb32 {
  margin-bottom: 32px;
}

body.wishket-member-signin .input-section {
  position: relative;
  padding: 120px 180px 120px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  flex-basis: 57%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body.wishket-member-signin .input-section .input-section-wrapper {
  width: 100%;
  max-width: 460px;
  margin: auto;
  position: absolute;
  left: 43%;
  top: 49%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
}

body.wishket-member-signin .title-header {
  color: #212121;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

form {
  display: block;
}

input[type='hidden' i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  display: none !important;
  padding: initial;
  border: initial;
}

.default-input-wishket > input:hover {
  border-color: #3ba3c7;
}

.default-input-wishket.icon-right > input:hover {
  border-color: #3ba3c7;
}

/* 강제로 입력창 테두리 구현... */
.theme-wishket:focus {
  border-color: #3ba3c7 !important;
  outline: none !important;
}

.arrow:hover {
  border-color: #3ba3c7 !important;
  outline: none !important;
}

input[type='checkbox' i]:focus-visible {
  outline-offset: 2px;
}

body.wishket-member .input-box .title {
  color: #212121;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.default-input-wishket {
  position: relative;
}

.default-input-wishket > input {
  display: block;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 24px;
  color: #616161;
  font-weight: 400;
  background: #fff;
  width: 100%;
  height: inherit;
  padding: 8px 12px 8px 12px;
}

.theme-wishket::placeholder {
  color: #c2c2c2;
  font-weight: 200px;
  font-size: 14px;
  letter-spacing: 0px;
}

.pl::placeholder {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 8px 38px 8px 0px;
}

.error-text {
  display: none;
}

body.wishket-member .tooltip-box {
  margin: 8px 0px 0 13px;
  color: #9e9e9e;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

element.style {
  z-index: inherit;
  left: 0px;
  top: 20px;
  width: 389px;
}

.ui-tooltip {
  position: relative;
  font-style: normal;
  cursor: pointer;
  text-align: left;
}

body.wishket-tooltip .tooltip-box img {
  display: flex;
  margin-left: 2px;
}

/* 한번 구현해보자 느낌표 css로 */

.wishket-tooltip img:hover ~ .tooltip-container {
  visibility: visible;
  opacity: 1;
}

body.wishket-member .tooltip-box .tooltip-container {
  padding: 16px 20px !important;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.tooltip-container {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  color: #616161;
  position: absolute;
  z-index: 999999;
  min-width: 240px;
  background: #fff;
  border: 1px solid #e0e0e0;
}

body.wishket-member .input-box .error-text-custom {
  display: none;
  margin: 4px 0 0 28px;
  color: #e52929;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.default-input-wishket.icon-right {
  position: relative;
}

.default-input-wishket.icon-right > input[type='password'] {
  min-height: 42px;
}

body.wishket-member input[type='password'] {
  font-family: 'NotoSansKR', 'Sans-serif' !important;
  font-size: 14px !important;
}

.default-input-wishket.icon-right > input {
  display: block;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  line-height: 24px;
  color: #616161;
  font-weight: 400;
  background: #fff;
  width: 100%;
  height: inherit;
  padding: 8px 38px 8px 12px;
}

.default-input-wishket.icon-right > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  right: 12px;
}

body.wishket-member .input-box .icon {
  cursor: pointer;
}

body.wishket-member .input-box .icon.icon-eyes-off {
  display: none;
}

body.wishket-member .input-box .icon {
  cursor: pointer;
}

body.wishket-member .input-box + .input-box {
  margin-top: 16px;
}

body.wishket-member .sub-action {
  display: flex;
  align-items: center;
  margin-top: 16px;
  color: #9e9e9e;
  margin-left: auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.mb24 {
  margin-bottom: 24px;
}

body.wishket-member .sub-action .input-box {
  margin: 0;
}

.checkbox-wishket {
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.checkbox-wishket > span:first-child {
  position: absolute;
  top: 1px;
  left: 0;
}

.checkbox-wishket > span:first-child > span:after,
.checkbox-wishket > span:first-child > span:before {
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.checkbox-wishket > span:first-child > span:after,
.checkbox-wishket > span:first-child > span:before {
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.checkbox-wishket > span:last-child {
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  line-height: 1.5rem;
  padding-left: 28px;
  display: inline-block;
  word-break: keep-all;
}

.checkbox-wishket > span:first-child > input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

.checkbox-wishket > span:first-child > input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.checkbox-wishket > span:first-child > span {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: 3px;
  left: 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background: #fff;
}

g {
  fill: none;
  fill-rule: evenodd;
}

:not(svg) {
  transform-origin: 0px 0px;
}

path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.6;
  d: path('M 4 7.8 L 7 11 l 5 -6');
}

.checkbox-wishket > span:first-child > span.arrow .checked-icon {
  transition: stroke-dashoffset 0.18s cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  stroke-dashoffset: 29.7833385;
  stroke-dasharray: 29.7833385;
}

.checkbox-wishket > span:first-child {
  position: absolute;
  top: 1px;
  left: 0;
}

body.wishket-member .link-href {
  color: #3ba3c7;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
a {
  text-decoration: none;
}

.mb16 {
  margin-bottom: 16px;
}

.btn-wishket {
  background-color: #2099bb;
  color: #fff;
  border: #2099bb;
}

.mb16 {
  margin-bottom: 16px;
}
.btn-wishket {
  background-color: #2099bb;
  color: #fff;
  border: #2099bb;
}
.btn-11-24 {
  padding: 11px 24px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 100px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: 4px;
}

.btn-block {
  width: 100%;
}

button {
  background: none;
  appearance: auto;
  writing-mode: horizontal-tb !important;
}

body.wishket-member .btn-white-border {
  border: solid 1px #e0e0e0;
  color: #616161;
}

body.wishket-member .btn-white-border img {
  position: relative;
  top: 4px;
  margin-right: 4px;
}

body.wishket-member .btn-white-border.btn-11-24 {
  padding: 10px 23px;
}

body.wishket-member-signin .border-sub-action {
  text-align: center;
  padding-top: 16px;
  margin-top: 24px;
  border-top: solid 1px #e0e0e0;
  color: #616161;
}

.link-text {
  text-decoration: none;
  color: #3ba3c7;
  display: inline-block;
}

.body-2-medium {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

/* ---------------------------- */
/* 오른쪽 아래 고정 부분 */

#ch-shadow-root-wrapper {
  all: initial;
  font-family: NotoSansKR, NotoSansJP, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    '맑은 고딕', 'Yu Gothic', 'Segoe UI', Roboto, 'system-ui', 'sans-serif';
}

style {
  display: none;
}

.gqJQqG {
  position: fixed;
  bottom: 0px;
  pointer-events: none;
  right: 0px;
  width: 300px;
  height: 300px;
  background: radial-gradient(at right bottom, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 72%);
  animation: 0.5s ease-out 0s 1 normal none running jBcSpD;
}

.gHGvRN {
  position: fixed;
  z-index: 10000000;
  display: block;
  width: auto;
  overflow: visible;
  background: transparent;
  bottom: 24px;
  right: 24px;
}

.gFAPNC {
  position: relative;
  overflow: visible;
}

/* 그림자 */
.iCjnQY {
  position: relative;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  overflow: initial;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px,
    rgba(0, 0, 0, 0.22) 0px 4px 20px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 26px;
  transition: box-shadow 0.2s ease-out 0s;
  animation: 0.2s cubic-bezier(0.1, 0, 0.6, 1) 0.35s 1 normal backwards running fcEaNs;
}

.iCjnQY:hover {
  box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px,
    rgba(0, 0, 0, 0.3) 0px 6px 40px;
  background: rgba(255, 255, 255, 0.9);
}

@keyframes fcEaNs {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes jBcSpD {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

element.style {
  position: absolute;
  inset: 0px;
  margin: auto;
}

.dMLQd {
  inset: 0px;
  margin: auto;
}

.iGuDJC {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  color: rgb(61, 171, 202);
  cursor: pointer;
  opacity: 1;
}

.kzkXNW {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.08) 0px 1px 2px,
    rgba(255, 255, 255, 0.12) 0px 0px 2px inset;
  animation: 0.2s cubic-bezier(0.1, 0, 0.6, 1) 0.55s 1 normal backwards running fcEaNs;
  top: -7px;
  right: -3px;
  min-width: 24px;
  height: 24px;
  padding: 0px 7px;
  font-size: 14px;
  visibility: visible;
  border-radius: 12px;
}

.bWkoeI {
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 13px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(233, 78, 88);
}

g {
  filter: url(#filter0_i);
}

:not(svg) {
  transform-origin: 0px 0px;
}

filter {
  color-interpolation-filters: srgb;
}

feFlood {
  flood-opacity: 0;
}

.path1 {
  fill: rgb(61, 171, 202);
  fill-opacity: 0.6;
  d: path(
    'M 24 6 C 14.0589 6 6 14.0589 6 24 C 6 33.9411 14.0589 42 24 42 C 26.5503 42 28.9767 41.4696 31.175 40.5132 C 32.4937 39.9394 33.9715 39.7362 35.3397 40.1796 L 39.7048 41.5942 C 40.8697 41.9717 41.9717 40.8697 41.5942 39.7048 L 40.1796 35.3397 C 39.7362 33.9715 39.9394 32.4937 40.5132 31.175 C 41.4696 28.9767 42 26.5503 42 24 C 42 14.0589 33.9411 6 24 6 Z'
  );
}

.path2 {
  fill: white;
  fill-opacity: 0.01;
  d: path(
    'M 24 6 C 14.0589 6 6 14.0589 6 24 C 6 33.9411 14.0589 42 24 42 C 26.5503 42 28.9767 41.4696 31.175 40.5132 C 32.4937 39.9394 33.9715 39.7362 35.3397 40.1796 L 39.7048 41.5942 C 40.8697 41.9717 41.9717 40.8697 41.5942 39.7048 L 40.1796 35.3397 C 39.7362 33.9715 39.9394 32.4937 40.5132 31.175 C 41.4696 28.9767 42 26.5503 42 24 C 42 14.0589 33.9411 6 24 6 Z'
  );
}

.path3 {
  fill: white;
  fill-opacity: 0.15;
  d: path(
    'M 19.8462 20.1538 C 19.8462 22.448 19.2404 24.3077 17.4231 24.3077 C 15.6058 24.3077 15 22.448 15 20.1538 C 15 17.8597 15.6058 16 17.4231 16 C 19.2404 16 19.8462 17.8597 19.8462 20.1538 Z'
  );
}

.path4 {
  fill: white;
  fill-opacity: 0.15;
  d: path(
    'M 24.0001 29.8462 C 21.201 29.8462 19.7599 27.5828 19.3109 25.9843 C 19.1615 25.4526 19.6016 25.0001 20.1539 25.0001 H 27.8462 C 28.3985 25.0001 28.8386 25.4526 28.6893 25.9843 C 28.2402 27.5828 26.7992 29.8462 24.0001 29.8462 Z'
  );
}

.path5 {
  fill: white;
  fill-opacity: 0.15;
  d: path(
    'M 30.5768 24.3077 C 32.3941 24.3077 32.9999 22.448 32.9999 20.1538 C 32.9999 17.8597 32.3941 16 30.5768 16 C 28.7595 16 28.1537 17.8597 28.1537 20.1538 C 28.1537 22.448 28.7595 24.3077 30.5768 24.3077 Z'
  );
}

.path6 {
  fill: rgb(61, 171, 202);
  d: path(
    'M 19.8462 19.1538 C 19.8462 21.448 19.2404 23.3077 17.4231 23.3077 C 15.6058 23.3077 15 21.448 15 19.1538 C 15 16.8597 15.6058 15 17.4231 15 C 19.2404 15 19.8462 16.8597 19.8462 19.1538 Z'
  );
}

.path7 {
  fill: rgb(23, 17, 63);
  fill-opacity: 0.7;
  d: path(
    'M 19.8462 19.1538 C 19.8462 21.448 19.2404 23.3077 17.4231 23.3077 C 15.6058 23.3077 15 21.448 15 19.1538 C 15 16.8597 15.6058 15 17.4231 15 C 19.2404 15 19.8462 16.8597 19.8462 19.1538 Z'
  );
}

.path8 {
  fill: rgb(61, 171, 202);
  d: path(
    'M 24.0001 28.8462 C 21.201 28.8462 19.7599 26.5828 19.3109 24.9843 C 19.1615 24.4526 19.6016 24.0001 20.1539 24.0001 H 27.8462 C 28.3985 24.0001 28.8386 24.4526 28.6893 24.9843 C 28.2402 26.5828 26.7992 28.8462 24.0001 28.8462 Z'
  );
}

.path9 {
  fill: rgb(23, 17, 63);
  fill-opacity: 0.7;
  d: path(
    'M 24.0001 28.8462 C 21.201 28.8462 19.7599 26.5828 19.3109 24.9843 C 19.1615 24.4526 19.6016 24.0001 20.1539 24.0001 H 27.8462 C 28.3985 24.0001 28.8386 24.4526 28.6893 24.9843 C 28.2402 26.5828 26.7992 28.8462 24.0001 28.8462 Z'
  );
}

.path10 {
  fill: rgb(61, 171, 202);
  d: path(
    'M 30.5768 23.3077 C 32.3941 23.3077 32.9999 21.448 32.9999 19.1538 C 32.9999 16.8597 32.3941 15 30.5768 15 C 28.7595 15 28.1537 16.8597 28.1537 19.1538 C 28.1537 21.448 28.7595 23.3077 30.5768 23.3077 Z'
  );
}

.path11 {
  fill: rgb(23, 17, 63);
  fill-opacity: 0.7;
  d: path(
    'M 30.5768 23.3077 C 32.3941 23.3077 32.9999 21.448 32.9999 19.1538 C 32.9999 16.8597 32.3941 15 30.5768 15 C 28.7595 15 28.1537 16.8597 28.1537 19.1538 C 28.1537 21.448 28.7595 23.3077 30.5768 23.3077 Z'
  );
}
